.homePage {
  padding: 80px 20px; /* Increased padding for more space around content */
  text-align: center;
}
.content p {
  margin-bottom: 130px;
}

.startButton {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 1.1rem;
  background: linear-gradient(135deg, #6a0dad, #d511b1); /* Gradient from purple to a darker purple */
  color: white;
  border: none;
  border-radius: 12px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.startButton:hover {
  background: linear-gradient(135deg, #5a0c8f, #ad0d90); /* Reverse gradient on hover */
}
